/****************** Start reset ******************/
* { margin: 0; padding: 0; }
a { text-decoration: none; }
ul, li { list-style: none; }
:focus { outline: none; }
/******************** End reset ******************/
